@import "tailwindcss";

@layer utilities {
    /* Hide scrollbar htmlFor Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar htmlFor IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

:root {
/* background-color: #1A1A1A; */
background-color: gray;
overflow: scroll;
scrollbar-width: none;
}

input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Hide arrows on number inputs for Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
